# ===== Backend =====
backend/target/
backend/.idea/
backend/*.iml

# ===== Frontend =====
next-seo/node_modules/
next-seo/.next/
next-seo/out/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

