spring:
  config:
    import: optional:file:.env[.properties],optional:file:backend/.env[.properties]
  application:
    name: blog
  profiles:
    default: dev

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        format_sql: true
    show-sql: false

  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1

logging:
  level:
    org:
      hibernate:
        SQL: warn
    org.springframework.web: INFO

security:
  jwt:
    access-valid-seconds: 1800
    refresh-valid-seconds: 1209600
    cookie:
      domain: ""
      secure: false
      same-site: Lax
    secret-base64: Rm9vQmFyS2V5X0Rldl9PTkxZX0RvX05PVF9VU0VfVGhpc19pcy1Kb3N0X2FuX2V4YW1wbGVfc2VjcmV0XzEyMzQ1Njc4OTA=

app:
  admin:
    email: admin@example.com
    password: admin1234!
    nickname: "???"
  google:
    client-id: 577653110613-dqcpoe7qkjacdsosrb0namlrfuvsm26m.apps.googleusercontent.com

server:
  forward-headers-strategy: framework
  port: 8081

gemini:
  api-key: ${GEMINI_API_KEY:}

# ==================================================
# ================= DEV (H2) =======================
# ==================================================
---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:h2:mem:myproject;MODE=MySQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true

server:
  port: 8081

app:
  upload-dir: ./uploads-dev

security:
  jwt:
    cookie:
      domain: ""

# ==================================================
# ================= PROD (MariaDB) =================
# ==================================================
---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:mariadb://localhost:3306/csr?useUnicode=true&characterEncoding=utf8mb4
    username: csr
    password: csrpass
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect

server:
  port: 8080

security:
  jwt:
    cookie:
      domain: ITMOON.site
      secure: true

app:
  upload-dir: /var/myproject/uploads
